#productsContainer {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.imgCol img {
    max-height: 50px;
}

@media screen and (width <= 750px) {
    #productsContainer{
        max-width: 95%;
    }
}