#cartContainer {
    max-width: 80%;
}

#backBtn {
    text-decoration: none;
    cursor: pointer;
}

.imgCol img {
    max-height: 50px;
}

@media screen and (width <= 750px) {
    #cartContainer{
        max-width: 95%;
    }
}