body {
    width: 100%;
}

.material-icons {
    font-size: 20px !important;
    vertical-align: middle;
    line-height: 1; 
}

.pcard .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pcard-btn {
    margin-top: auto;
    align-self: center;
}

.pcard-img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  object-position: center;
}

.carousel {
    width: 100%;
}

.carousel-inner img{
    filter: brightness(90%);
    height: 500px; 
    object-fit: cover;
    object-position: center;
}

#loading-screen {
    display: flex;
    height: 100vh;
}

#main-container {
    display: none;
}

#theme-toggle svg{
    max-height: 40px;
    fill: var(--fg-color-1);
}

#theme-toggle svg:last-child {
    display: none;
}


@media screen and (width <= 750px){
    .carousel-inner img{
        height: auto;
        object-fit: contain;
    }
}

:root {
    --fg-color-1: #151515;
}

:root[data-bs-theme="dark"]{
    --fg-color-1: #ebebeb;
}

:root[data-bs-theme="dark"] #theme-toggle svg:first-child{
    display: none;
}

:root[data-bs-theme="dark"] #theme-toggle svg:last-child{
    display: inline;
}